* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif
}
body {
    background-image: url(https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg);
}

.header h1 {
    
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 0;
    color: #000000b0;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.418);
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1;
    text-align: center;
    margin-top: 20px;
}

