<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/index.css" />
  </head>
  <body>
    <div class="topbar">
      <h1>Pomeranian</h1>
    </div>

    <div class="pomeraniankuva1">
      <div class="content">
        <h2>About Pomeranians</h2>
        <p>
          Pomeranians are a small breed of dog that originated in the region of
          Pomerania, which is now part of Poland and Germany. They are named
          after this region and are sometimes referred to as Pom or Pom Pom.
        </p>
        <p>
          Pomeranians are known for their small size, typically weighing between
          3 and 7 pounds, and their fluffy coat, which comes in a variety of
          colors such as red, orange, cream, white, black, and brown. They have
          a distinctive foxy face, with pointed ears and a curled tail.
        </p>
        <p>
          Pomeranians are friendly and affectionate dogs, but can be wary of
          strangers and other dogs. They are known to be good with children, but
          due to their small size, they should be supervised around young
          children to avoid accidental injuries.
        </p>
        <p>
          Pomeranians are intelligent and active dogs that require daily
          exercise and mental stimulation to prevent boredom and destructive
          behavior. They are also known for being vocal and may bark excessively
          if not properly trained.
        </p>
        <p>
          Overall, Pomeranians make great companions for those who are looking
          for a small, loyal, and affectionate dog that can adapt well to
          apartment living and is easy to train.
        </p>

        <a href="https://www.akc.org/dog-breeds/pomeranian/"
          >More about Pomeranians</a
        >
      </div>

      <div class="gif">
        <img src="../static/seppog.gif" height="500px" />
      </div>
    </div>
  </body>
</html>
