head {
  background-color: azure;
  color: rgb(0, 0, 0);
  text-align: center;}
body {
  background-color: rgba(10, 96, 194, 0.829);
}
h1 {
  color: white;
  text-align: center;
  font-family: sans-serif;
}
h2 {
  color: white;
  text-align: center;
  font-family: sans-serif;
  font-size: 30px;
  color:white
}
.a {
  text-align: center;

  font-family: sans-serif;
  font-size: 20px;
  color:white
  
}

.header {
  padding: 5px;
  text-align: center;
  background: #ffffff;
  color: white;
  font-size: 30px;
}
